<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnakeCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SnakeSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C6214C31AA51D7600DDB1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6214D71AA51D7600DDB1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6214E91AA51DA900DDB1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6214FD1AA51DAA00DDB1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE0CA3E1A803F2600BE030C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
